$icon-font-path: '../fonts/';
$blood: #4b000c;
$deepBlue: #17295d;
$yellow: #fef5aa;
$deepYellow: #f1ad38;
$red: #d83422;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// endbower
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  position: relative;
  background-color: $blood;
  margin: 0 -15px;
  background-image: url(../images/flower.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 10px;
  }
  .brand {
    width: 140px;
  }
  .genuine {
    position: absolute;
    right: 23px;
    top: 0;
    width: 93px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: $blood;
  border-top: 1px solid #e5e5e5;
      margin-bottom: 5em;
  p{
    margin: 0px;
    padding: 0px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.back-top{
  h3{
    padding: 0.8em;
    margin: 0px;
    color: $blood;
    font-size: 1.2em;
    background-color: #dedede;
    border: darken(#dedede, 30%);
  }
}
/* carsouel */
.owl-theme .owl-nav.disabled+.owl-dots {
  position: absolute;
  margin-top: -2.5em;
  width: 100%;
}


/* count-board */
.count-board {
  background-color: $yellow;
  h5 {
    color: $deepBlue;
    font-size: 1.2em;
    padding: 5px 0;
    white-space: nowrap;
  }
  var {
    font-size: 1.2em;
    color: $deepBlue;
    background-color: $deepYellow;
    font-weight: bold;
    margin: 0 1px;
    padding: 5px 6px;
    font-style: normal;
    border-radius: 5px;
    -moz-box-shadow: inset 0 3px 0 #a36700;
    -webkit-box-shadow: inset 0 3px 0 #a36700;
    box-shadow: inset 0 3px 0 #a36700;
  }
  .flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
}

.my-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.lastest-update {
  background-color: $yellow;
  padding-bottom: 15px;
  .carousel{
    border: 1px solid #f3b74f;

  }

  i {
    display: inline-block;
    max-width: 200px;
    @include text-overflow;
  }
  .item{

  }
  p {
    white-space: nowrap;
    background-color: #fff;
    font-size: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    b {
      font-weight: normal;
    }
  }
}
.call-to-action.full-screen {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  position: fixed;
  bottom:0px;
  left:0px;
  margin: 0px;
  width: 100%;
  background-color: rgba(255,255,255,0.6);
  button {
    width: 48%;
    border-radius: 0px;
    border: none;
    background-color: #d83423;
    color: #fff;
  }
}
.lastest-offer {
  background-color: $red;
  color: #fff;
  padding: 0.5em 0;
  button {
    border: none;
    color: #d83422;
    -moz-box-shadow: inset 0 3px 0 #fff;
    -webkit-box-shadow: inset 0 3px 0 #fff;
    box-shadow: inset 0 3px 0 #fff;
    border-bottom: 3px solid #85160b;
    font-weight: bold;
    font-size: 2.1em;
    padding: 2px 11px;

    @include button-variant(#d83422, #ffe519, #a64d0f);
  }
  h5 {
    line-height: 2.4em;
    font-size: 1.2em;
    margin: 0;
    i {
      font-style: normal;
    }
  }
  b {
    font-size: 2em;
  }
}
.grey-block,.yellow-block {
  padding: 1.5em 0;
  p {
    font-size: 1.2em;
    font-weight: bold;
  }
}
.grey-block {
  background-color: #dedede!important;
  p{
    color:$deepBlue;
  }
  mark {
    color: #d33e33;
    background: transparent;
  }
}
.yellow-block {
  background-color:#ffe519!important;
  ol {
    padding-left: 1.5em;
    font-weight: bold;
    font-size: 1.2em;
  }
  p,li{
    color:#d83423;
    margin:0px;
  }
}
.testimonial {
  .row {
    border-bottom: 1px solid #dadada;
    p {
      padding: 0px 1.2em;
    }
    h4 {
      font-size: 1em;
      color:#d83423;
      margin: 0px;
      padding:1em 1.2em 0em;
    }
  }
}
.cetificate {
  .col-xs-3 { margin: 10px 0px ; padding: 2px;}
}
/* Supporting marketing content */
.box-title {
  background-color: $blood;
  background-image: url(../images/flower2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  position: relative;
  color: #ffd200;
  font-size: 1em;
  padding: 0.8em;
  margin: 0.8em 0em;
  &:after {
    top: 90%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(23, 41, 93, 0);
    border-top-color: $blood;
    border-width: 10px;
    margin-left: -10px;
  }
  &.pull-left {
    font-size: 1.2em;

    &:after {
      left:25%;
    }
  }
}
.model-select {
  h2 {
    color:$red;
    font-size: 2em;
  }
  .radio {
    //border-bottom: 1px solid #c2c2c2;
  }

  .options{
    font-size: 1.2em;
    border-top: 1px solid #c2c2c2;

    .row {
      border-bottom: 1px solid #c2c2c2;
    }
    label {
      padding-left: 22px;
      color:$deepBlue;
      display: block;

    }
    i {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #000;
    }
    b {
      color:$red;
      float: right;
    }
    .radio {
      padding: 0px 15px;
    }
  }

  .user-info {
    margin-top: 3em;
    label {
      font-size: 1.1em;
      line-height: 1.6em;
    }

    .custom-tips{
      border-bottom: none;
      margin-bottom: 1.5em;

      p{
        padding: 0px;
        margin: 0px;
        font-size: 1em;
        line-height: 1em;
      }


    }
  }
  .btn {
    background-color: $red;
    border:none;
  }
}

.marketing {
  background-color: #fbfbfb;
  margin: 0;


  p + h4 {
    margin-top: 28px;
  }
}
.fix-top{
  position: fixed;
  left:0px;
  top:0px;
  z-index: 999;
  width: 100%;
  margin: 0px;
  background-color: rgba(254, 245, 170, 0.82);
}
.full-screen {
  margin: 0px -15px;
}

/*ticker*/

.ticker-headline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 15px 0;
  margin: 0;
  font-size: 18px;
}

.carousel.vertical .carousel-inner {
  height: 100%;
  width: auto;
  > .item {
    width: auto;
    //padding-right: 50px;
    transition: 0.6s ease-in-out top;
    @media all and (transform-3d), (-webkit-transform-3d) {
      transition: 0.6s ease-in-out;
      &.next,
      &.active.right {
        transform: translate3d(0, 100%, 0);
        top: 0;
      }
      &.prev,
      &.active.left {
        transform: translate3d(0, -100%, 0);
        top: 0;
      }
      &.next.left,
      &.prev.right,
      &.active {
        transform: translate3d(0, 0, 0);
        top: 0;
      }
    }
  }
  > .active,
  > .next,
  > .prev {
    display: block;
  }
  > .active {
    top: 0;
  }
  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }
  > .next {
    top: 100%;
  }
  > .prev {
    top: -100%;
  }
  > .next.left,
  > .prev.right {
    top: 0;
  }
  > .active.left {
    top: -100%;
  }
  > .active.right {
    top: 100%;
  }
}

.carousel.vertical {
  .carousel-control {
    left: auto;
    width: 50px;
    &.up {
      top: 0;
      right: 0;
      bottom: 50%;
    }
    &.down {
      top: 50%;
      right: 0;
      bottom: 0;
    }
    // Toggles
    .icon-prev,
    .icon-next,
    .glyphicon-chevron-up,
    .glyphicon-chevron-down {
      position: absolute;
      top: 50%;
      z-index: 5;
      display: inline-block;
    }
    .icon-prev,
    .glyphicon-chevron-up {
      left: 50%;
      margin-left: -10px;
      top: 50%;
      margin-top: -10px;
    }
    .icon-next,
    .glyphicon-chevron-down {
      left: 50%;
      margin-left: -10px;
      top: 50%;
      margin-top: -10px;
    }
    .icon-up,
    .icon-down {
      width: 20px;
      height: 20px;
      //margin-top: -10px;
      line-height: 1;
      font-family: serif;
    }
    .icon-prev {
      &:before {
        content: '\2039';
        // SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)

      }
    }
    .icon-next {
      &:before {
        content: '\203a';
        // SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)

      }
    }
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
