$icon-font-path: '../fonts/';
$blue: #17295d;
$deepBlue:#101e46;
$yellow: #fef5aa;
$deepYellow:#f1ad38;
$red:#d83423;
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
}
.container {

}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  position: relative;
  background-color: $blue;
  margin:0px -15px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
  .brand {
    width: 140px;
  }
  .genuine {
    position: absolute;
    right: 23px;
    top: 0;
    width: 93px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* carsouel */
.owl-theme .owl-nav.disabled+.owl-dots {
  position: relative;
  margin-top: -25px;
}
/* count-board */
.count-board {
  background-color: $yellow;
  h5 {font-size: 1em; white-space: nowrap;}
  var {
    background-color:$deepYellow;
    margin: 0px 4px 0px 0px;
    padding: 5px 6px;
    font-style: normal;
    border-radius: 5px;
  }
  .lastest-update {
    p{
      background-color: #fff;
      border:1px solid #f3b74f;
      font-size: 12px;
      padding: 5px;
    }
  }
  .lastest-offer {
    background-color: $red;
    color:#fff;
    padding: 10px 0px;
    button{
      background: #ffe519;
      border:none;
    }
    b{
      font-size: 2em;

    }
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }


}
